@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --primary: #595cff;
  --secondary: #8c8eff;
  --primary-dark: #383be4;

  --positive: #00cb6f;
  --warning: #ffbc2c;
  --negative: #ee7764;
  --active: #595cff;

  --white: #ffffff;
  --snow: #f9f9fb;
  --grey: #afb1bd;
  --dark-grey: #82828b;
  --pale-grey: #f0f0f5;
  --light-grey: #e6e6eb;
  --black: #000000;
}

* {
  font-family: "Inter", sans-serif;
}
#app {
  width: 100%;
  background-color: var(--white);
}
