.imageInfoCard{
    align-items: center;
}

.divImage{
    width: 260px;
    height: 260px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.divInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 60%;
    
}
